extends ../layout.jade

block body
  #pollQuestions.wrap
    h3= poll.title
    h4= poll.subtitle
    p
      span
        strong Link corto:
        a(href="http://instapoll.in/p/#{poll.short_url}") http://instapoll.in/p/#{poll.short_url}

  #poll.wrap

    -if(!voter){
      #pollOptions
        ul
          li
            span.refColor
              span
            label Titulo 1
            div.score
          li
            span.refColor
              span
            label Titulo 2
            div.score
          li
            span.refColor
              span
            label Titulo 3
            div.score
          li
            span.refColor
              span
            label Titulo 4
            div.score
          li
            span.refColor
              span
            label Titulo 5
            div.score

          //-each opt,key in poll.opts
            li
              span.refColor
                span
              input(type="radio", name="votePoll", id="votePoll" + key)
              label(for="votePoll" + key)= opt.title

        p
          a.cta#vote-submit
            strong Calificar!
    -}
    -var poll_style = (voter) ? "width:100%" : "";
    #pollGraph(style=poll_style)
      #chart

    -if(!auth){
      //-#socialLogin
        p
          em Ingresá para calificar!
          span#twitter-login
            a.cta(href='/login/twitter')
              strong Ingresar con Twitter
          span#facebook-login
            a.cta(href='/login/facebook')
              strong Ingresar con Facebook
    -}

  #disqus_thread.wrap
  script().
    var disqus_shortname = 'instapoll';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/js/highcharts.js")
  script(type="text/javascript", src="/js/jquery.raty-fa.js")
  script().
    var poll = !{json_poll};
    var poll_domain = '!{poll_domain}';
  script(type="text/javascript", src="/js/poll.js")
